/* main.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
   font-family: Arial, Helvetica, sans-serif;
}

body {
  line-height: 1.3;
  color: #333;
background-color: #000435 ;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #222;
}


.nav-links a:hover{
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: orange;
}
.consult-btn {
  padding: 14px 18px;
  background: orange;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.themeSwitch {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 13px;
  right: 80px;
  cursor: pointer;
}

.darkmode {
  background: #000;
  color: #fff;
}

/* HERO */
    .hero {
      height: 45rem;
      width: 100%;
      background-size: cover;
      background-position: center;
      transition: background-image 1s ease-in-out;
    }

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
}
.hero-overlay {
  background: linear-gradient(
    to right,
    rgba(0,0,0,0.75),  /* dark side near text */
    rgba(0,0,0,0.3)    /* lighter side behind man */
  );
}


.hero-content {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.hero-text {
  color: #fff;
  max-width: 550px;
}

.hero-text h1 {
  font-size: 58px;
  font-weight: 700;
  margin-bottom: 25px;
}

.hero-btn {
  padding: 25px 28px;
  background-color: #f5b400;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  border-radius: 6px;
}

.hero-image img {
  width: 30rem;
  max-width: 100%;
  height: 39rem;
  object-fit: cover;
  margin-top: 80px;




  
  border-radius: 80px;
  filter: drop-shadow(0 15px 30px rgba(0,0,0,0.5));

}

/* SERVICES GRID */
.services {
  padding: 80px 20px;
  background-color: #f9f9f9;
}



.grid-item {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  transition: transform 0.3s;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.grid-item h3 {
  font-size: 29px;
  color: orange;
  margin-bottom: 10px;
}
.grid-item p {
  max-width: 450px; /* adjust for your design */
  margin: 0 auto;   /* center inside the grid item */
  line-height: 1.7; /* more spacing for readability */
  font-size: 18px;  /* slightly smaller for long text */
}

.grid-item p {

  color: #555;
}

/* WHO WE ARE */
.who-we-are {
  padding: 100px 20px;
 background-color: #000435 ;
 color: white;
}

.who-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.who-left {
  flex: 1;
}

.who-title {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  text-decoration-line: underline;
  text-decoration-color: orange;
}





.who-titles {
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}


.experience {
  font-size: 28px;
  font-weight: bold;
  color: orange;
  margin-bottom: 15px;
}

.who-text {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}

.counters {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.counter {
  font-size: 36px;
  font-weight: bold;
  color: #ff6600;
}

.btn {
  padding: 12px 28px;
  background-color: orange;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
}

.who-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.who-right img {
  width: 100%;
max-height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

  .what-we-do {
  background: #f7f7f7;
  padding: 100px 0;
}

.wwd-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
  align-items: center;
}

/* LEFT IMAGE */
.wwd-image img {
  width: 100%;
  border-radius: 12px;
}

/* RIGHT CONTENT */
.wwd-content {
  flex: 1;
}

.wwd-label {
  color: #f97316;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
}

.wwd-content h2 {
  font-size: 36px;
  color: #111827;
  margin-bottom: 30px;
}


.wwd-item p {
  font-size: 16px;
}

/* SERVICES GRID */
.wwd-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.wwd-item {
  text-align: center;
}

.wwd-item img {
  width: 50px;
  margin-bottom: 15px;
}

.wwd-item h4 {
  margin-bottom: 10px;
  color: #111827;
  font-size: 22px;
  color: orange;
}




.who-titles {
  font-size: 36px;
 justify-content: center;
  position: relative;
  display:flex;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: orange;
}



/* REVIEWS */
.reviews {
  padding: 80px 20px;
  background: #f9f9f9;
  text-align: center;
}

.review-title {
  color: orange;
  font-size: 36px;
  margin-bottom: 40px;
}

.review-wrapper {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

.review-track {
  display: flex;
  transition: transform 0.6s ease;
}

.review-card {
  min-width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.review-card p {
  font-size: 29px;
  margin-bottom: 20px;
  color: #555;
}

.review-card h4 {
  margin-bottom: 5px;
  color: #333;
  font-size: 23px;
}

.review-card span {
  color: orange;
}

/* CONTACT */
.contact-section {
  padding: 100px 20px;
 background-color: #000435 ;
 color: white;
}

.contact-content {
  display: flex;
  gap: 50px;
  max-width: 1200px;
  margin: auto;
}

.contact-left {
  flex: 1;
}

.contact-left h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-item img {
  width: 24px;
  height: 24px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.contact-right {
  flex: 1;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-form button {
  padding: 12px 25px;
  background: orange;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
.footer {
  background: #000435 ;
  color: #fff;
  padding: 60px 20px 20px 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  border-radius: 50%;
  width: 90px;
  margin-bottom: 15px;
}

.footer-col h4 {
  font-size: 22px;
  margin-bottom: 15px;
  color: orange;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
    font-size: 18px;
}

.footer-col ul li a:hover {
  color: orange;

}


.footer-col  p {
  font-size: 18px;
}
.footer-social img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}

.footer-social img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 15px;
  font-size: 18px;
  color: #bbb;
}

/* MAP */
.map-section {
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.map-section iframe {
  width: 100%;
  height: 400px;
  border: none;
}


